@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


body { font-family: 'Libre Baskerville', serif; 
    background-color: #eff1e3;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3em;
}

h1{
    font-size: xxx-large;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: xx-large;
}

section {
    margin-bottom: 20px;
    align-self: center;
}

.box {
    border: none;
    padding: 15px;
    margin: 20px;
    background-color: none;
    align-content: center;
}

.container {
  width: 60%;
  margin: auto;
}

hr {
    color: #eff1e3;
}

blockquote {
    margin: 2;
    padding: 0;
    font-size: 1.3em;
}

#projects {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

#footer {
    background-image: url('brick wall.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

li {
    margin: 2;
    padding: 0;
}

.button {
    background-color: #eff1e3;
    font-family: 'Libre Baskerville', serif;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
    width: 100%;
    transition: all 0.3s ease;
}

.button:hover {
    color: #ffffff;
    cursor: pointer;
    background: #232327;
    transform: scale(1.05);
}

a {
    color: #71944e;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
    background-color: #232327;
}

.github-link img:hover {
  content: url("https://file.garden/Z-9X7al_RynAMoGk/portfolio/github-white-icon.png");
  transform: scale(1.1);
}

.linkedin-link img:hover {
  content: url("https://file.garden/Z-9X7al_RynAMoGk/portfolio/linked%20in%20logo%20white");
  transition: all 0.9s ease;
  transform: none;
}

.code_box {
  background: linear-gradient(to bottom, #000000, #232327);
  color:#ffffff;
  padding: 10px;
}

summary {
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    font-size: x-large;
    transition: all 0.3s ease;
}

summary:hover {
    color: #8bab6a;
}

#conclusion {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

nav {
    margin-bottom: 20px;
    text-align: left;
}
.button-link {
    font-family: 'Libre Baskerville', serif;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

.button-link:hover {
    color: #ffffff;
    cursor: pointer;
    background: #232327;
    transform: scale(1.05);
}
